/* eslint-disable */
<template>
  <div class="container">

    <h2 class="col-6 mx-auto mb-5">ارسال نوتیف</h2>

    <div v-if="success" class="alert alert-success">
      درخواست شما با موفقیت ارسال شد.
    </div>
    <div v-if="errors" class="alert alert-danger">
      تگ کانال معتبر نیست
    </div>

    <div v-if="error_pass" class="alert alert-danger">
      اطلاعات وارد شده معتبر نمیباشد.
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="type">مدل: </label>
      <div class="col-10">
        <select v-on:change="data.channel_count = ''"  v-model="data.type" class="form-control " id="type">
          <option v-bind:key="type.name" :value="type.value" v-for="type in types">{{type.name}}</option>
        </select>
      </div>
    </div>
    <div class="mb-3">

      <div class="form-check form-check-inline">
        <input v-model="data.mute" type="checkbox" class="form-check-input" id="mute">
        <label  class="form-check-label" for="mute">سکوت </label>
      </div>

      <div class="form-check form-check-inline">
        <input v-model="data.hide" type="checkbox" class="form-check-input" id="hide">
        <label class="form-check-label" for="hide">مخفی </label>
      </div>

    </div>

    <div v-if="data.type === 'limitedjoin' | data.type === 'limitedlink'" class="form-group row">
      <label class="col-2 col-form-label" for="count">تعداد کانال: </label>
      <div class="col-10">
        <input v-model="data.channel_count" type="text" id="count" class="form-control" placeholder="تعداد کانال ...">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="channel_name">تگ کانال: </label>
      <div class="col-10">
        <input v-on:change="checkname" v-model="data.channel_name" type="text" id="channel_name" class="form-control" placeholder="تگ کانال ...">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="title">عنوان: </label>
      <div class="col-10">
        <input v-model="data.title" type="text" id="title" class="form-control" placeholder="عنوان ...">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="password">کلمه عبور: </label>
      <div class="col-10">
        <input v-model="password" type="password" id="password" class="form-control" placeholder="کلمه عبور ...">
      </div>
    </div>

    <div class="form-group mt-5">
      <input v-on:click="submit" type="button" name="" class="btn btn-info float-left" value="ارسال">
    </div>
  </div>
</template>

<script>
import md5 from 'md5'

export default {
  name: '',
  data () {
    return {
      types: [
        {
          name: 'join',
          value: 'join'
        },
        {
          name: 'leave',
          value: 'leave'
        },
        {
          name: 'link',
          value: 'link'
        },
        {
          name: 'limited join',
          value: 'limitedjoin'
        },
        {
          name: 'limited link',
          value: 'limitedlink'
        }
      ],
      data: {
        type: '',
        mute: false,
        hide: false,
        channel_count: '',
        channel_name: '',
        title: ''
      },
      errors: 0,
      password: '',
      success: 0,
      error_pass: 0
    }
  },
  methods: {
    checkname: function () {
      const regex = /^@[A-Z0-9]/gmi

      if (this.data.type === 'link' | this.data.type === 'limitedlink') {
        this.errors = 0
      } else {
        if (regex.exec(this.data.channel_name)) {
          this.errors = 0
        } else {
          this.errors = 1
        } // esle link
      } // esle regex
    },
    submit: function () {
      if (!this.errors) {
        var channelName = this.data.channel_name.replace('@', '')
        var data = {
          joinpolicy: {
            type: this.data.type,
            mute: this.data.mute,
            hide: this.data.hide,
            channel_count: this.data.channel_count,
            channel_name: channelName,
            title: this.data.title
          },
          to: '/topics/news'
        }
        var pass = md5(this.password)

        var params = {
          data: JSON.stringify(data),
          password: pass
        }

        console.log(params)

        this.$http.post('/faragram/sendnot', params).then(function (response) {
          this.success = 0
          this.error_pass = 0
          console.log(response.body)
          if (response.body.res) {
            window.scrollTo(0, 0)
            this.success = 1
            this.data.type = ''
            this.data.mute = false
            this.data.hide = false
            this.data.channel_count = ''
            this.data.channel_name = ''
            this.data.title = ''
            this.password = ''
          } else {
            window.scrollTo(0, 0)
            this.error_pass = 1
          }
        })// http
      }// if errors
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #channel_name {
    direction: ltr;
  }
  h2, input, label {
    font-family: IRANSansWeb;
  }
</style>
