@font-face {
    font-family: IRANSansWeb;
    src: url('../static/fonts/IRANSansWeb.eot');
    src: url('../static/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
         url('../static/fonts/web_Yekan.woff') format('woff'),
         url('../static/fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}


body {
    direction: rtl;
    text-align: right !important;
    font-family: IRANSansWeb !important
}
.sidebar .nav{padding-right: 0}
.sidebar .nav-item, .sidebar .nav-title {text-align: right}
.card-header > i {
  margin-left: 0.5rem;
  margin-right:auto;
}
.card-header .card-actions {
  position: absolute;
  top: 0;
  left: 0;
  right: auto
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem auto -1rem -1rem !important;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-right: -1.25rem;
  margin-left: auto !important;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-left: 0.3125rem !important;
  margin-right: 0 !important;
}
ul{padding-right: 0}
.dropdown-header{text-align: right}

.card-header .card-actions a, .card-header .card-actions button {

  border: 0 !important;
  border-right: 1px solid #a4b7c1 !important;

}

.alert-dismissible .close {
  right: auto !important;left: 0 !important
}
.alert-dismissible {
  padding-left: 3.8125rem !important;
  padding-right: 1.25rem !important;
}

.sidebar .sidebar-minimizer::before {
  position: absolute;
  top: 0;
  right: auto !important;
  left: 0 !important;
  transform: rotate(-180deg);

}
.sidebar-minimized .sidebar .sidebar-minimizer::before {
  width: 100%;
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

@media (min-width: 992px) {
}
    @media (max-width: 991.98px) {
        [dir="rtl"] .sidebar-fixed .main, [dir="rtl"] .sidebar-fixed .app-footer { margin-right: 0; }

        .sidebar-mobile-show .main {
            margin-left: -220px !important;
            margin-right: 220px !important;
        }

        .sidebar {
            margin-right: -220px;
            margin-left: 0;
        }

        .sidebar-mobile-show .sidebar {
            width: 220px;
            margin-right: 0;
        }
    }
